body, h1, h2, h3, h4, p, ul, ol, li {
	margin: 0;
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	background-image: url(../img/bg.jpg);
	/*background-color: #0cfff9;*/
	background-repeat: no-repeat;
	background-size: 100vw;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}